@import 'settings';
@import 'support';

html, body {
  font-family: $font;
	font-size: 1rem;
	// line-height: 150%;
}

.container {
  transition: all .5s cubic-bezier(.55,0,.1,1);
	max-width: 960px;
	margin: 0 auto;
}

i {
	font-style: normal;
	vertical-align: middle;
}

h1 {
	font-weight: normal;
	text-transform: uppercase;
	color: $black;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-bottom: 1rem;
	i {
		color: $black;
		margin-right: 1rem;
	}
}

a {
	color: $dv-blue;
	text-decoration: none;
	&:active {
		color: $dv-green;
	}
	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.zoomin-enter-active, .zoomin-leave-active {
	transition: all .3s;
}

.zoomin-enter, .zoomin-leave-active {
	opacity: 0;
	transform: scale(.9);
}

.zoomout-enter-active, .zoomout-leave-active {
	transition: all .3s;
}
.zoomout-enter, .zoomout-leave-active {
	opacity: 0;
	transform: scale(1.07);
}

.slide-right-enter-active, .slide-right-leave-active {
	transition: all .3s;
}
.slide-right-enter {
	opacity: 0;
	transform: translateX(40px);
}
.slide-right-leave-active {
	opacity: 0;
	transform: translateX(-40px);
}
.slide-left-enter-active, .slide-left-leave-active {
	transition: all .3s;
}
.slide-left-enter {
	opacity: 0;
	transform: translateX(-40px);
}
.slide-left-leave-active {
	opacity: 0;
	transform: translateX(40px);
}
