@import 'settings';

html, body {
  font-family: $font;
	font-size: 1rem;
	// line-height: 150%;
}

.container {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

h1 {
	// font-family: Verdana;
	font-weight: 300;
	text-transform: uppercase;
	// color: #aaa;
	color: $primary;
}

