.vis-timeline {
	// border: none;
	// background: #eee;
}

.vis-today {
	background: #ECF5FD;
}

.vis-panel.vis-top {
	background-image: linear-gradient(#fff, #e6e6e6);
}

.vis-major div {
	font-weight: bold;
	font-size: 18px;
}
.vis-labelset .vis-label {
	text-align:right;
}
.vis-item {
	background: #01547D;
	border: 1px solid #028ED4;
	// border: 1px solid #fff;
	color: #fff;
	&.vis-selected {
		color: #000;
	}
}
.desktop {
	.vis-item {
	}
}
.vis-panel.vis-center {
	background: linear-gradient(#013957, #011C29);
}
.vis-labelset {
	background: #fff;
}
.vis-content {
	background: url( '~assets/img/chita1.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	&.support {
		background: linear-gradient(to left top, #93D5FF, #D6FFFD);
		.vis-foreground .vis-group {
			border-bottom: 1px solid #fff;
		}
	}
}
.vis-foreground .vis-group {
	border-bottom: 1px solid #00476B;
}

.vis-item.support {
	background: #fff;
	color: $main;
}
